{% extends template %}

{% block content %}
<!-- Intro Single-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Q & A</h1>
          <span class="color-text-a">Maybe these information can help you</span>
        </div>
      </div>
    </div>

      <div class="row">
      <div class="col-md-12 col-lg-16">
            <div class="well offset-1" style="background-color: #f5f5f5;">
                <div style="padding-left: 5px">
                    <p style="font-weight: bold">How to sell a property?</p>
                    <p>Login as a seller and click 'sell' at navbar to publish a property.</p>
                </div>
            </div>

            <div class="well offset-1" style="background-color: #f5f5f5;">
                <div style="padding-left: 5px">
                    <p style="font-weight: bold">What is the scope of the search for the facilities around the property?</p>
                    <p>Normally, the range is one kilometer in radius.</p>
                </div>
            </div>

            <div class="well offset-1" style="background-color: #f5f5f5;">
                <div style="padding-left: 5px">
                    <p style="font-weight: bold">Can anyone add a property for sale?</p>
                    <p>Yes, but after filling in the information and submitting the application,
                        it must be approved by the agent before it can be officially released.
                        The review process generally takes 24 hours.</p>
                </div>
            </div>
      </div>
      </div>

    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Contact us</h1>
          <span class="color-text-a">If you have any more questions please contact us</span>
        </div>
      </div>

        {# agent1 信息#}
        <div class="row">
          <div class="col-lg-5 offset-sm-1">
              <div class="tab-pane">
                  <div class="row" style="background-color: #fbfbfb;">
                      <div class="col-md-4">
                          <div class="row">
                              <img src="../../static/images/agent/17205941.png" alt=""
                                   class="img-d img-fluid" width="80%">
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="row">
                              <h1 class="title-single" style="color: #2eca6a;">
                                  <strong>Agent</strong>
                              </h1>
                          </div>
                          <div class="summary-list">
                              <ul class="list">
                                  <li class="d-flex justify-content-between">
                                      <strong>Name</strong>
                                      <span>Rinigong Wu</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Phone Number</strong>
                                      <span>(86) 18548148006</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Email</strong>
                                      <span>rinigong.wu@ucdconnect.ie</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Wechat</strong>
                                      <img src="../../static/images/agent/wechat/wechat_17205941.png"
                                           class="img-d img-fluid" width="50%" height="50%">
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        {# agent2信息#}
          <div class="col-lg-5 offset-sm-1">
              <div class="tab-pane">
                  <div class="row" style="background-color: #fbfbfb;">
                      <div class="col-md-4">
                          <div class="row">
                              <img src="../../static/images/agent/17205959.png" alt=""
                                   class="img-d img-fluid" width="80%">
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="row">
                              <h1 class="title-single" style="color: #2eca6a;">
                                  <strong>Agent</strong>
                              </h1>
                          </div>
                          <div class="summary-list">
                              <ul class="list">
                                  <li class="d-flex justify-content-between">
                                      <strong>Name</strong>
                                      <span>Keming Zou</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Phone Number</strong>
                                      <span>(86) 18548148003</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Email</strong>
                                      <span>keming.zou@liveulike.com</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Wechat</strong>
                                      <img src="../../static/images/agent/wechat/wechat_17205959.png"
                                           class="img-d img-fluid" width="50%" height="50%">
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <p> </p>
        {# agent3信息#}
        <div class="row">
          <div class="col-lg-5 offset-sm-1">
              <div class="tab-pane">
                  <div class="row" style="background-color: #fbfbfb;">
                      <div class="col-md-4">
                          <div class="row">
                              <img src="../../static/images/agent/17206032.png" alt=""
                                   class="img-d img-fluid" width="80%">
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="row">
                              <h1 class="title-single" style="color: #2eca6a;">
                                  <strong>Agent</strong>
                              </h1>
                          </div>
                          <div class="summary-list">
                              <ul class="list">
                                  <li class="d-flex justify-content-between">
                                      <strong>Name</strong>
                                      <span>Junmeng Xu</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Phone Number</strong>
                                      <span>(86) 18548148005</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Email</strong>
                                      <span>junmeng.xu@liveulike.com</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Wechat</strong>
                                      <img src="../../static/images/agent/wechat/wechat_17206032.png"
                                           class="img-d img-fluid" width="50%" height="50%">
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        {# agent4信息#}
          <div class="col-lg-5 offset-sm-1">
              <div class="tab-pane">
                  <div class="row" style="background-color: #fbfbfb;">
                      <div class="col-md-4">
                          <div class="row">
                              <img src="../../static/images/agent/17205970.png" alt=""
                                   class="img-d img-fluid" width="80%">
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="row">
                              <h1 class="title-single" style="color: #2eca6a;">
                                  <strong>Agent</strong>
                              </h1>
                          </div>
                          <div class="summary-list">
                              <ul class="list">
                                  <li class="d-flex justify-content-between">
                                      <strong>Name</strong>
                                      <span>Yue Sun</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Phone Number</strong>
                                      <span>(86) 18548148004</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Email</strong>
                                      <span>yue.sun@liveulike.com</span>
                                  </li>
                                  <li class="d-flex justify-content-between">
                                      <strong>Wechat</strong>
                                      <img src="../../static/images/agent/wechat/wechat_17205970.png"
                                           class="img-d img-fluid" width="50%" height="50%">
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- End Intro Single-->

{% endblock %}