{% extends 'main/template_after_login.html' %}

{% block content %}
<!-- Intro Single-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">My Properties</h1>
          <span class="color-text-a">Selling Properties</span>
        </div>
      </div>
    </div>
</section>
<section class="property-grid grid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Dear customer, you do <span style="color: red;">not have</span> any houses that are on the <span style="color: red;">selling</span>!</h4>
      </div>
    </div>
  </div>
</section>
{% endblock %}