<!-- <div id="recommendation_section" class="replaced"> -->
    <div class="row">
        <div class="col-md-6">
            {% if string %}
                {% if count == 0 %}
                    <p><strong>Sorry, <span style="color: red;">no similar/such properties</span>, maybe you like these</strong></p>  
                {% else %}
                    <p>properties with <strong><span class="color-b">{{ string }}</span></strong> than the current one</p>  
                {% endif %}
            {% endif %}
        </div>    
        <div class="col-md-6">

        </div>  
        <!-- <div class="col-md-4">

        </div>            -->
        
    </div>
    <div class="row">
        {% for property in house_paginate.items %}
        <div class="col-md-4">
            <div class="card-box-a card-shadow">
                <div class="img-box-a">
                    <img src="../../static/images/district/{{ property.district }}/{{ property.buildingType }}/{{ property.buildingType }}.jpg"
                        alt="" class="img-a img-fluid" style="height:360px">
                </div>
                <div class="card-overlay">
                    <div class="card-overlay-a-content">
                        <div class="card-header-a">
                            <h2 class="card-title-a">
                                <a href="{{ url_for('main.house',id = property.id) }}">{{ property.town }}
                                    <br /> {{ property.district }}</a>
                            </h2>
                        </div>
                        <div class="card-body-a">
                            <div class="price-box d-flex">
                                <span class="price-a">¥ {{ property.price }}/m<sup>2</sup></span>
                            </div>
                            <a href="{{ url_for('main.house',id = property.id) }}" class="link-a">Click here to view
                                <span class="ion-ios-arrow-forward"></span>
                            </a>
                        </div>
                        <div class="card-footer-a">
                            <ul class="card-info d-flex justify-content-around">
                                <li>
                                    <h4 class="card-info-title">Area</h4>
                                    <span>{{ property.square }}
                                        m<sup>2</sup>
                                    </span>
                                </li>
                                <li>
                                    <h4 class="card-info-title">Bedroom</h4>
                                    <span>{{ property.bedroom }}</span>
                                </li>
                                <li>
                                    <h4 class="card-info-title">Bathroom</h4>
                                    <span> {{ property.bathroom }}</span>
                                </li>
                                <li>
                                    <h4 class="card-info-title">Kitchen</h4>
                                    <span>{{ property.kitchen }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm-12">
            <nav class="pagination-a">
                <ul class="pagination justify-content-end">
                    {% if house_paginate.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="/house/{{ house.id }}?page={{ house_paginate.prev_num }}"
                            tabindex="-1">
                            <span class="ion-ios-arrow-back"></span>
                        </a>
                    </li>
                    {% endif %}

                    {% for page in house_paginate.iter_pages(1,1,3,2) %}
                    {% if page %}
                    <li class="page-item {%if page==house_paginate.page%}active{%endif%}">
                        <a class="page-link" href="/house/{{ house.id }}?page={{ page }}">{{ page }}</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&hellip;</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if house_paginate.has_next %}
                    <li class="page-item next">
                        <a class="page-link" href="/house/{{ house.id }}?page={{ house_paginate.next_num }}">
                            <span class=" ion-ios-arrow-forward"></span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
<!-- </div> -->